set_io --warn-no-port rst 44
set_io --warn-no-port eop 40

###################  QTR8RC
set_io --warn-no-port D[7] 2
set_io --warn-no-port D[6] 46
set_io --warn-no-port D[5] 47
set_io --warn-no-port D[4] 45
set_io --warn-no-port D[3] 48
set_io --warn-no-port D[2] 3
set_io --warn-no-port D[1] 4
set_io --warn-no-port D[0] 31

###################  FTDI
set_io --warn-no-port Tx 26
set_io --warn-no-port Rx 27

###################  ARRANCADOR
#set_io --warn-no-port GO 11
#set_io --warn-no-port RDY 18


###################  SWITCH
set_io --warn-no-port SET1 25
set_io --warn-no-port SET2 23


###################  SERVOMOTORES
set_io --warn-no-port PWM_B  28
set_io --warn-no-port DIR_B2 38
set_io --warn-no-port DIR_B1 42
set_io --warn-no-port STBY   36
set_io --warn-no-port PWM_A  37
set_io --warn-no-port DIR_A2 43
set_io --warn-no-port DIR_A1 34
